/* Stile del titolo */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Stile del form */
form {
    margin: 0 auto;
    width: 300px;
}

/* Stile del campo nome */
#nome {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Stile del campo età */
#eta {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Stile del pulsante */
#btn {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
